@font-face {
    font-family: 'Bokareis';
    src: url('../main/Bokareis-Normal.woff2) format('woff2'),
         url('../main/Bokareis-Normal.woff) format('woff'),
         url('../fonts/main/Bokareis.ttf) format('truetype');
            
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

